@mixin input($font-size, $border-width, $height, $width, $margin) {
	font-size: $font-size;
	border-width: $border-width;
	height: $height;
	width: $width;
	margin: $margin;

	@content;
}

#code-input {
  text-align: center;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(145, 200, 74, 1);
  border: 1px solid rgba(145, 200, 74, 1);
}
